*{
    margin: 0;
    font-size: 50px;
    text-align: center;
    color: #fffdfd;
}
.conteiner{
    min-height: 1800px;
    background: url(programming.jpg)center/cover no-repeat;
}
.myprojects{
    margin-top: 3px;
}
.myprojects a{
    color: orange;
    
}
.header{
    background-color:black;
    height: 200px;
    
}
.ffooter{
    background-color:black;
    height: 600px;
}

