*{
    margin: 0;
    font-size: 50px;
    text-align: center;
    background: #101212;
    color: #f0eaea;
}
.conteiner{
    min-height: 800px;
    background: url(me.jpg)center/cover no-repeat;
}
.myprojects{
    margin-top: 3px;
}
.myprojects a{
    color: orange;
}
