*{
    margin: 0;
    font-size: 50px;
    text-align: center;
    color: #fffdfd;
}
.conteiner{
    min-height: 800px;
    background: url(programming.jpg)center/cover no-repeat;
}
.myprojects{
    margin-top: 3px;
}
.myprojects a{
    color: rgb(255, 192, 3);
    font-family: "Atial";
}
.header{
    background-color:black;
    height: 1100px;
    
}
